<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

</head>

<body>

    <form action='/cadastro' method="post">

        <label>Nome fantasia</label>
        <input name='NOME_FANTASIA'>
        <br>

        <label>Data Fabricação: </label>
        <input name='DATA_FABRICACAO'>
        <br>

        <label>Cor : </label>
        <input name='COR'>
        <br>

        <label>Altura: </label>
        <input name='ALTURA'>
        <br>

        <label>Preço: </label>
        <input name='PRECO'>
        <br>

        <label>Peso: </label>
        <input name='PESO'>
        <br>

        <input type="submit" value="Inserir">
    </form>
</body>

</html>