<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>

    <table border="1px" >
        <tr>
            <td>NOME FANTASIA</td>
            <td>DATA FABRICACAO</td>
            <td>COR</td>
            <td>ALTURA</td>
            <td>PRECO</td>
            <td>PESO</td>
        </tr>
        <tr>
            <td>Finn</td>
            <td>27.03.1988</td>
            <td>Branca</td>
            <td>1.75</td>
            <td>200</td>
            <td>65kg</td>
        </tr>
        <tr>
            <td>Jake</td>
            <td>27.03.1990</td>
            <td>Branca</td>
            <td>2.75</td>
            <td>100</td>
            <td>85kg</td>
        </tr>
    </table>


</body>

</html>